* {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black-logo: #000000;
  --black-text: #212121;
  --white-text: #ffffff;
  --gray-text: #757575;
  --blue-text: #2196F3;
  --elements-gray: #2F303A;
  --button-bg-non-active: #F5F4FA;
  --button-bg-active: #2196F3;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 94px;
}

a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

main {
  font-family: 'Roboto', sans-serif;
}

.web{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--blue-text);
}

.logo {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Raleway', sans-serif;
  color: var(--black-logo);
}

.menu-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  margin-left: 93px;
}

.navlink {
  list-style: none;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-text);
}

.navlink:hover {
  list-style: none;
  color: var(--blue-text);
}

.contacts-header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: space-around;
  margin-top: -40px;

}

.mail {
  color: var(--gray-text);
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 16,41px;
}

.tel {
  color: var(--gray-text);
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 16,41px;
}

.mail:hover {
  color: var(--blue-text);
}

.tel:hover {
  color: var(--blue-text);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.button {
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 6px 22px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
  background-color: var(--button-bg-non-active);
  border-radius: 4px;

}

.button:hover {
  color: var(--white-text);
  background-color: var(--button-bg-active);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}

.card {
  list-style: none;
  max-height: 404px;
  max-width: 370px;
  border-radius: 0px;
  border-color: rgba 238,238,238,1;
}

/* .picture {
  
} */

.project {
  color: var(--black-text);
  font-size: 18px;
  font-weight: 700;
  padding-left: 24px;
  margin-top: 20px;
  margin-bottom: 4;
}

.description {
  color: var(--gray-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;

  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  padding-left: 24px;
  margin-bottom: 20px;
}

footer {
  background-color: var(--elements-gray);
  color: var(--white-text);
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
}

.studio{
  color: var(--white-text);
}

address {
  font-family: 'Roboto', sans-serif;
  color: var(--white-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;

}

.contacts {
  color: var(--gray-text);
}